@import '~antd/dist/antd.css';
@import '~handsontable/dist/handsontable.full.css';

body {
  margin: 0;
  padding: 0;
}

html {
  background-color: hsl(0, 0%, 90%) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
